<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div th:fragment="header" id="header">
        </div>
        <div th:fragment="menu" id="menu">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">DietPlan</a></li>
                        </ul>
<!--                        navbar-right-->
                        <ul class="nav navbar-nav ">
                            <li><a href="#">Upload</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><img src="../static/image/people.png"></li>
                            <li>User1</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>


        <footer th:fragment="footer" th:align="center"
                style="position:static; bottom:0px; margin-bottom: -200px; height:80px; left:0px; right:0px; overflow:hidden;">
            <h1>Auto Calorie Tracker</h1>
            <p>
                (c) copyright 2021
            </p>
        </footer>

    </body>
</html>