<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/css-upload.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/css-dietPlan.css}">
    <script th:src="@{/js/vue.js}" rc="/js/vue.js"></script>
    <script th:src="@{/js/axios-0.18.0.js}"></script>
    <script src="/js/axios-0.18.0.js"></script>
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>

<div id="app" align="center">
    <h2 id="title" style="text-align: center">Daily Diet Plan</h2>


    <div class="tableBox">

        <div id="btnBox">
            <a  class="btn btn-success" @click="handle2" id="leftBtn" >Today</a>
            <a  class="btn btn-info" @click="handle" id="rightBtn"  >Tomorrow</a>
        </div>
        <table class="table table-bordered" >
            <tr>
                <th>Images</th>
                <th>Calories</th>
            </tr>
            <tr v-for="c in tableData">
                <td class="td1">
                    <p >{{c.food.name}}</p>
                    <img :src="c.url" width="200px" height="200px">
                </td>
                <td class="td1 td2">
                    <p>{{c.food.calorie}}</p>
                </td>

            </tr>
        </table>
    </div>


    <div class="tableBox">
        <h2>Activity</h2>
        <table class="table table-bordered" >
            <tr>
                <td class="td1" v-if="activityName=='Cycling'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Cycling.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Fast walking'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Fastwalking.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Jogging'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Jogging.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Running'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Running.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Swimming'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Swimming.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Yoga'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Yoga.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Office work'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Officework.jpg}" width="200px" height="200px">
                </td>
                <td class="td1" v-if="activityName=='Walking'">
                    <p >{{activityName}}</p>
                    <img  th:src="@{/image/activities/Walking.jpg}" width="200px" height="200px">
                </td>
                <td class="td1 td3">
                    <p >{{caloriesBurnt}}</p>
                </td>

            </tr>
        </table>
    </div>

    <div id="net" CLASS="td2">
        <h2 >Net Calories: {{netCalories}}</h2>
    </div>


</div>




<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data:{
            tableData:[],
            netCalories:0.0,
            activityName:'',
            caloriesBurnt:0.0,
            // netCalories:[],

        },
        created() {
            this.handle2();
        },
        methods:{
            handle(){
                axios.get('/plan/showTomorrowPlan').then((res) => {
                    if (res.data) {

                        this.tableData=res.data.data.foodInfos;
                        this.netCalories=res.data.data.netCalories;
                        this.activityName=res.data.data.activity.activityName;
                        this.caloriesBurnt=res.data.data.activity.caloriesBurnt;
                        console.log(res.data.data.activity)

                    }
                });
            },

            handle2(){
                axios.get('/plan/showPlan').then((res) => {
                    if (res.data) {

                        this.tableData=res.data.data.foodInfos;
                        this.netCalories=res.data.data.netCalories;
                        this.activityName=res.data.data.activity.activityName;
                        this.caloriesBurnt=res.data.data.activity.caloriesBurnt;


                    }
                });
            }
        }


    })





</script>
</body>

<div th:replace="layout/layout.html :: footer"></div>
</html>