<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu"></div>
<div id="profile/edit"></div>

<div class="form">
<h1 style="text-align:center">Edit Profile</h1>
<table class="table table-bordered table-hover" style="width:40%;font-size: 20px" align="center">
    <form th:action="@{/profile/save}" method="post" th:Object="${user}">
        <fieldset>
            <input type="hidden" th:field="*{Id}"/>
            <!-- <input type="hidden" th:field="*{gender}"/> -->
            <input type="hidden" th:field="*{email}"/>
            <input type="hidden" th:field="*{birthYear}"/>
            <input type="hidden" th:field="*{password}"/>
        </fieldset>
        <tr>
			<th>Gender</th>
        	<td>       
		        <div class="form-group">
		        	<select name="Gender">
					    <option value="MALE">MALE</option>
					    <option value="FEMALE">FEMALE</option>
	  				</select>
		            <!-- <input type="text" class="form-control" name="Gender" placeholder="gender" th:field="*{gender}">-->
		        </div>
     	    </td>
        </tr>
        
        <tr>
			<th>Height</th>
        	<td>       
		        <div class="form-group">
		            <input type="number" class="form-control" name="height" placeholder="Height" th:field="*{height}">
		        </div>
     	    </td>
        </tr>
        
        <tr>
        	<th>Weight</th>
        	<td>
	            <div class="form-group">
		            <input type="number" class="form-control" name="weight" placeholder="Weight" th:field="*{weight}">
		        </div>
	        </td>
		</tr>
			
		<tr>
			<th>Activity Level</th>
			<td>
		    	<div class="form-group">
		        	<select name="activity level">
					    <option value="SEDENTARY">SEDENTARY</option>
					    <option value="MODERATE">MODERATE</option>
					    <option value="ACTIVE">ACTIVE</option>
	  				</select>		    	
            	<!-- <input type="text" class="form-control" name="activity level" placeholder="Activity Level" th:field="*{activityLevel}">-->
        		</div>
        	</td>
		</tr>
		<!-- 
		<tr>
			<th>Password</th>
			<td>
			    <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Change Password" th:field="*{password}">
        		</div>
        	</td>
		</tr>
		 -->
		<tr>
			<td colspan="2">
				<div class="form-group">
	            	<input type="submit" value="Save Profile" class="btn btn-success btn-lg btn-block">
				</div>
			</td>
		</tr>
					    
    </form>
</table>

</div>

<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>