<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
</head>

<body>
<header th:insert="layout/layout.html :: header"></header>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div class="border border-secondary p-3 rounded">
            <h1>Welcome to Automatic Calorie Tracker</h1>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary"/>
            </p>
            <p>
                <a th:href="@{/register}" class="btn btn-secondary">Sign up</a>
            </p>
            <div id="message" th:text="${message}">
            </div>
            <div id="logoutMessage" th:text="${logoutMessage}">
            </div>
        </div>
    </form>
<div th:replace="layout/layout.html :: footer"></div>
</div>
</body>
</html>