<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/echarts/echarts.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/js/layout.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
</head>
<style>

    #box2 {

        margin-bottom: 60px;
    }

    .thumbnail {
        display: block;
        padding: 5px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 3px solid #ddd;
        border-radius: 3px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        height: 300px;
    }

    #hello {
        margin-left: 1500px;
        height: 50px;
        MARGIN-TOP: 20PX;
        font-size: 20px;

    }
</style>

<body>
    <header th:insert="layout/layout.html :: header"></header>
    <div th:replace="layout/layout.html :: menu"></div>
    <div id="hello" th:text="Welcome+' &nbsp; &nbsp;'+${session.user.email}" align="right"
     style="margin-right: 25px; font-weight: bold"></div>
    <h1 style="text-align:center;font-weight: bold">Daily History</h1>

    <div id="box" style="alignment: center">

        <div id="main" style="height:400px;margin-bottom: 60px" class="bar-chart" align="center"></div>

        <script src="/js/vue.js"></script>
        <script src="/js/axios-0.18.0.js"></script>
        <script type="text/javascript">


    var myChart = echarts.init(document.getElementById('main'));
    var checkName = '';


    axios.get("/history/getData").then((res) => {
        var num = res.data.data.localDataList.length - 1;

        option = {
            // color: ["#7BC37D"],
            title: {
                text: '               Calories'
            },
            tooltip: {},
            legend: {
                data: ['Calories']
            },
            xAxis: {
                data: res.data.data.localDataList
            },
            yAxis: {
                type: 'value'
            },

            dataZoom: [
                {
                    type: 'slider',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'inside',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'slider',
                    yAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'inside',
                    yAxisIndex: 0,
                    start: 0,
                    end: 100
                }
            ],
            series: [{
                name: 'Daily Calories',
                type: 'bar',
                data: res.data.data.caloriesList,
                itemStyle: {
                    barBoardRadius: 20,
                    color: function (param) {
                        if (checkName === param.name) {
                            return '#2f4554';
                        } else {
                            return "#7BC37D";
                        }

                        // }
                    }
                },
                markLine: {
                    label: {
                        normal: {
                            position: 'right'
                        }
                    },
                    data: [
                        {
                            type: 'average', name: 'Average Calories',
                            label: {
                                show: true,
                                position: 'end',
                                formatter: '{b}: {c}'

                            },
                            lineStyle: {

                                color: "#3398DB",
                            },

                        },
                        {
                            label: {
                                show: true,
                                position: 'end',
                                formatter: '{b}: {c}'

                            },
                            lineStyle: {
                                type: "solid",
                                color: "#BA402B",
                            },
                            name: 'Recommendation Calories',
                            yAxis: res.data.data.recommendedCalories,

                        },
                    ]
                },


            }]
        }
        myChart.setOption(option
        );
    });


    myChart.on('click', function (params) {
        var name = params.name;

        checkName = params.name;
        myChart.setOption(option);

        axios.get('/history/getImageByData?data=' + name).then((res) => {
            if (res.data) {

                var imagesInfo = res.data.data.imagesInfo;
                var foodNames = res.data.data.foodNames;
                var Calories = res.data.data.Calories;
                var timeSeries = res.data.data.time;

            }


            var info = "";

            for (let i = 0; i < Calories.length; i++) {
                var div = "    <div id='box2' height='200px' width='200px' class=\"col-sm-6 col-md-4\">\n" +
                    "            <div class=\"thumbnail\">\n" +
                    "                <img src=\" " + imagesInfo[i] + " \" >\n" +
                    "                <div class=\"caption\">\n" +
                    "                  <h3>" + foodNames[i] + "</h3>\n" +
                    "                  <p>" + Calories[i] + " Calories</p>\n" +
                    "                  <p>" + timeSeries[i] + "</p>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "    </div>";

                info += div;


            }

            $("#container").html(info);

        })
    })


</script>
        <div id="img">
            <div id="container" class="row" ></div>
        </div>
    </div>
<div th:replace="layout/layout.html :: footer"></div>

</body>
</html>