
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homework</title>
    <style>
        #kuang{
            border:1px solid #000;
            width: 500px;
            height: 120px;
            overflow:auto;
        }
        img:hover{
            /*鼠标悬浮时，生成阴影轮廓*/
            box-shadow: 0px 0px 0px 1px red;
        }
        img{
            border-radius:5px;
            margin-top:10px;
        }
        div{
            /*设置内部嵌套的div宽度（大于外部div宽度）*/
            width: 700px;
        }
    </style>
</head>
<body>
<div id="kuang">
    <div>
        <img src="images/p_small_001.jpg" >
        <img src="images/p_small_002.jpg" >
        <img src="images/p_small_003.jpg" >
        <img src="images/p_small_004.jpg" >
        <img src="images/p_small_005.jpg" >
        <img src="images/p_small_006.jpg" >
        <img src="images/p_small_007.jpg" >
    </div>
</div>
</body>
