<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
</head>

<body>
<script src="/js/axios-0.18.0.js"></script>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>
<h1 style="text-align:center;margin-bottom: 30px">My Profile</h1>

<table class="table table-bordered table-hover" style="width:40%;font-size: 20px" align="center">
        <th>Gender</th>
            <td th:text="${user.gender}">Gender</td>
        </tr>
        <tr>
        <th>Birth Year</th>
            <td th:text="${user.birthYear}">Birth Year</td>
        </tr>
        <tr>
        <th>Height</th>
            <td th:text="${user.height}">Height</td>
        </tr>
        <tr>
        <th>Weight</th>
            <td th:text="${user.weight}">Weight</td>
        </tr>
    <tr>
        <th>Activity Level</th>
        <td th:text="${user.activityLevel}">Activity Level</td>
    </tr>
        <th>Email</th>
        <td th:text="${user.email}">Email</td>
    </tr>
</table>
<div class="text-center">
    <a th:href="@{/profile/edit}" style="font-size: 20px;margin-bottom: 60px" class="btn btn-secondary">Edit Profile</a>
</div>
<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>