<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/css-upload.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">
    <script th:src="@{/js/vue.js}" rc="/js/vue.js"></script>
    <script th:src="@{/js/axios-0.18.0.js}"></script>
    <script src="/js/axios-0.18.0.js"></script>
</head>


<body>

<div id="register">

</div>
<div class="logo">
    <img src="image/AppLogo.jpeg" width="250" height="180" th:align="center">
</div>

<div id="app">
    <div class="signup-form">
        <form th:action="@{/registerProcess}" method="post" th:object="${user}">
            <h1>Welcome</h1>
            <h3 class="hint-text">Sign up to start your new account</h3>
            <div class="form-group" style="font-size: 20px">
                <input type="email" class="form-control" name="email" placeholder="Email" required="required" th:field="*{email}">
            </div>
            <div class="form-group" style="font-size: 20px">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required" th:field="*{password}">
            </div>
            <div class="form-group" style="font-size: 18px">
                <label for="userDetails" style="margin-right: 20px">Select Birth Year</label>
                <select id="userDetails" name="birthYear" placeholder="Birth Year" required="required" th:field="*{birthYear}">
                    <option value="birthYear"> Select birth Year</option>
                    <option th:each="year: ${strArray}"
                            th:value="${year}"
                            th:text="${year}"></option>
                </select>
            </div>
            <div class="form-group" style="font-size: 18px">
                <label for="userDetails" style="margin-right: 20px">Select Activity Level:</label>
                <label for="Sedentary" > Sedentary </label>
                <input type="radio"  id="Sedentary" name="sedentary" value="Sedentary" required="required" th:field="*{activityLevel}">
                <label for="Moderate" style="margin-right: 20px"> Moderate</label>
                <input type="radio" id="Moderate" name="Moderate" value="Moderate" required="required" th:field="*{activityLevel}">
                <label for="Active" style="margin-right: 20px"> Active</label>
                <input type="radio" id="Active" name="Active" value="Active" required="required" th:field="*{activityLevel}">
            </div>
            <div class="form-group" style="font-size: 18px">
                <label for="userDetails">Select Gender</label>
                <label for="male" style = "display:inline-block;"> <img th:src="@{/image/m2.png}" style="width:100px;height:100px"><span>Male </span> </label>
                <input type="radio" id="male" name="male" value="MALE" required="required" th:field="*{gender}" @click="male">
                <label for="female" style = "display:inline-block;"> <img th:src="@{/image/female.png}" style="width:100px;height:100px"> Female </label>
                <input type="radio" id="female" name="female" value="FEMALE" required="required" th:field="*{gender}" @click="female">
            </div>
            <div class="form-group" style="font-size: 18px">
                <label for="userDetails">Select Height Category</label>
                <label for="height1" style = "display:inline-block;"> <img th:src="@{/image/m2.png}" style="width:100px;height:60px" :src="imgUrl1" > {{height1}} </label>
                <input type="radio" id="height1" name="height" value="155" required="required" th:field="*{height}">
                <label for="height2" style = "display:inline-block;"> <img th:src="@{/image/m2.png}" style="width:100px;height:80px" :src="imgUrl2"> {{height2}}</label>
                <input type="radio" id="height2" name="height" value="168" required="required" th:field="*{height}">
                <label for="height3" style = "display:inline-block;"> <img th:src="@{/image/m2.png}" style="width:100px;height:100px" :src="imgUrl3"> {{height3}}</label>
                <input type="radio" id="height3" name="height" value="175" required="required" th:field="*{height}">
            </div>
            <div class="form-group" style="font-size: 18px">
                <label for="userDetails">Select Weight Category</label>
                <label for="weight1" style = "display:inline-block;"> <img th:src="@{/image/m1.png}" style="width:100px;height:100px" :src="imgUrlW1"> {{weight1}} </label>
                <input type="radio" id="weight1" name="weight" value="55" required="required" th:field="*{weight}">
                <label for="weight2" style = "display:inline-block;"> <img th:src="@{/image/m2.png}" style="width:100px;height:100px" :src="imgUrlW2"> {{weight2}} </label>
                <input type="radio" id="weight2" name="weight" value="68" required="required" th:field="*{weight}">
                <label for="weight3" style = "display:inline-block;"> <img th:src="@{/image/m3.png}" style="width:100px;height:100px" :src="imgUrlW3"> {{weight3}} </label>
                <input type="radio" id="weight3" name="weight" value="80" required="required" th:field="*{weight}">
            </div>
            <div id="message" th:text="${message}" style="color: red"></div>
            <div class="form-group" style="font-size: 18px">
                <input type="submit" class="btn btn-success btn-lg btn-block">
            </div>
        </form>
        <div class="text-center" style="font-size: 18px">Already have an account? <a th:href="@{/login}">Sign in</a></div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data:{
            height1:"",
            height2:"",
            height3:"",
            weight1:"",
            weight2:"",
            weight3:"",
            imgUrl1:"",
            imgUrl2:"",
            imgUrl3:"",
            imgUrlW1:"",
            imgUrlW2:"",
            imgUrlW3:"",

        },
        created() {
            this.male();
        },
        methods:{
            male(){
                this.height1="<160cm";
                this.height2="160cm-175cm";
                this.height3=">175cm";
                this.weight1="<60kg";
                this.weight2="60kg-75kg";
                this.weight3=">75kg";
                this.imgUrl1="https://i.imgur.com/KUQTuAg.png";
                this.imgUrl2="https://i.imgur.com/KUQTuAg.png";
                this.imgUrl3="https://i.imgur.com/KUQTuAg.png";

                this.imgUrlW1="https://i.imgur.com/DZeTw2n.png";
                this.imgUrlW2="https://i.imgur.com/KUQTuAg.png";
                this.imgUrlW3="https://i.imgur.com/RPAPJVW.png";

            },

            female(){
                this.height1="<155cm";
                this.height2="155cm-170cm";
                this.height3=">170cm";
                this.weight1="<50kg";
                this.weight2="50kg-65kg";
                this.weight3=">65kg";
                this.imgUrl1="https://i.imgur.com/QuILeH4.png";
                this.imgUrl2="https://i.imgur.com/QuILeH4.png";
                this.imgUrl3="https://i.imgur.com/QuILeH4.png";

                this.imgUrlW1="https://i.imgur.com/FxhdJof.png";
                this.imgUrlW2="https://i.imgur.com/QuILeH4.png";
                this.imgUrlW3="https://i.imgur.com/tBVyamQ.png";
            }
        }


    })





</script>

<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>