<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>

<body>
<!--<img th:src="@{/image/logo.png}" style="margin-top: 20px; margin-left: 200px">-->
<!--<hr>-->
<section class="container">
    <div class="left-half">
        <article>
            <img th:src="@{/image/Flash.png}" style="height: 200px;width: 300px;margin-bottom: 20px;">
            <h1>About us</h1>
            <h3><b>Auto Calorie Tracker</b> helps you count calories to stay healthy.</h3>
            <br>
            <h3>Our app and website use diet plan to motivate users. To track calories,through mobile app users can either take the photo or upload
            the image by photo. Meanwhile, users can enter the url so that user will get the calories of the menu items.</h3>
        </article>
    </div>
    <div class="right-half">
        <article>
        <div class="form">
            <div id="formcontainer"><img id="img1" th:src="@{/image/login.jpg}" style="margin-bottom: 20px">
                <form th:action="@{/reset}" method="post" style="max-width: 250px; margin: 0 auto;">
                <div class="border border-secondary p-3 rounded">
                    <p>Please enter your email</p>
                    <p>
                        <input type="email" style="font-size: 15px" name="email" class="form-control" placeholder="E-mail" required autofocus/>
                    </p>

                    <div id="message" style="color: red" th:text="${message}">
                    </div>
                    <p>
                        <input type="submit" value="Login" class="btn btn-primary" style="width: 200px"/>
                    </p>
                </div>
            </form>
            </div>
        </div>
        </article>
    </div>
</section>

</body>

<div th:replace="layout/layout.html :: footer" ></div>
</html>