<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css-upload.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/css-dietPlan.css}">

</head>


<body>
<header th:insert="layout/layout.html :: header"></header>
<div th:replace="layout/layout.html :: menu" ></div>


<div id="title2">
        <h1>Key in your image url</h1>
        <h1>Know your calories</h1>
    </div>

    <div id="formbox" th:align="center">
        <form method="post" action="/upload/extract" id="form">

            <div class="col-xs-4" id="inputBox">
                    <input type="text" class="form-control" th:value="${url}" name="url">
            </div>
            <div>
                <button type="submit" class="btn btn-primary" id="submit">SHOW IMAGES AND CALCULATE THE CALORIES</button>
            </div>
        </form>
    </div>


   <div id="tableBox">
       <table class="table table-bordered" style="font-size: 20px" >
           <tr>
               <th>Images</th>
               <th>FoodName</th>
               <th>Calories</th>
           </tr>
           <tr th:each="foodInfo:${foodInfos}">
               <td>
                   <img th:src="${foodInfo.foodImage}">
               </td>
               <td>
                   <p th:text="${foodInfo.foodName}"></p>
               </td>
               <td>
                   <p th:text="${foodInfo.foodCalories}+' Calories'">20</p>
               </td>

           </tr>
       </table>
   </div>

<div th:replace="layout/layout.html :: footer"></div>
</body>
</html>